<!DOCTYPE html>
<html>
<body>
<div id="centerTabs" class="easyui-tabs" data-options="fit:true,border:false">
    <div title="总体用能" data-options="border:false,tools:'#p-tools',iconCls:'icon-application_view_tile'"
         style="overflow: hidden;">
        <iframe id="frame-portal" src="${ctx}view/frame/main.jsp"
                style="width: 100%; height: 100%;" frameborder="no" border="0"
                marginwidth="0" marginheight="0" scrolling="no"
                allowtransparency="yes"></iframe>
    </div>
</div>
</body>
</html>