<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
index
<p th:text="'Hello！, ' + ${name} + '!'">3333</p>
<p th:text=" ${appId} ">3333</p>
<p th:text=" ${appSecret} ">3333</p>
<form th:action="@{/logout}" method="post">
    <button type="submit">logout1</button>
</form>
<form action="http://127.0.0.1:8000/oauth/logout" method="post">
    <button type="submit">logout2</button>
</form>
</body>
</html>