<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/meta"></div>
    <link rel="stylesheet" type="text/css" th:href="@{assets/pages/index.css}"/>
    <script type="text/javascript" th:src="@{assets/pages/index.js}"></script>

    <script th:inline="javascript" type="text/javascript">
        var _appId = [[${appId}]];
        var _appSecret = [[${appSecret}]];
        var _token = [[${token}]];
        var _logoutUri = [[${logoutUri}]];
        var _localLogoutUri = [[${localLogoutUri}]];
    </script>

</head>
<body class="easyui-layout">
<div data-options="region:'north'" style="height: 8%;overflow: hidden;">
    <div th:replace="frame/north"></div>
</div>
<div data-options="region:'west',split:true" title="导航菜单" style="width:15%;">
    <div th:replace="frame/west"></div>
</div>
<div data-options="region:'center'">
    <div th:replace="frame/center"></div>
</div>
<div data-options="region:'south'" style="height: 5%;" class="head-south">
    <div th:replace="frame/south"></div>
</div>
</body>
</html>