<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="-1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{assets/js/jquery-easyui/themes/default/easyui.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/js/jquery-easyui/themes/icon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/icon/icon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/css/base.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{assets/pages/index.css}"/>

    <script type="text/javascript" th:src="@{assets/js/jquery/jquery-1.11.3.min.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/jquery-easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{assets/js/jquery-easyui/locale/easyui-lang-zh_CN.js}"></script>
    <script type="text/javascript" th:src="@{assets/pages/index.js}"></script>
    <script th:inline="javascript" type="text/javascript">
        var _appId = [[${appId}]];
        var _appSecret = [[${appSecret}]];
        var _token = [[${token}]];
        var _logoutUri = [[${logoutUri}]];
        var _localLogoutUri = [[${localLogoutUri}]];
    </script>

</head>
<body class="easyui-layout">
<div data-options="region:'north'" style="height: 8%;overflow: hidden;">
    <div class="easyui-layout" data-options="fit:true,border:false">
        <div data-options="region:'center',border:false" class="head-north">
            <span class="head-left"></span>
        </div>
        <div data-options="region:'east',border:false" class="head-north" style="width: 200px;padding-top: 15px;">
            <a id="user" href="javascript:void(0)" class="easyui-menubutton" style="color:whitesmoke;"
               data-options="menu:'#mm_user'" th:text="${name}"></a>
            <div id="mm_user" style="width: 150px;">
                <form id="form-logout" method="post" style="display: none">
                </form>
                <div data-options="iconCls:'icon-user_go'" class="loginOut" id="logout">安全退出</div>
            </div>

            <!--<p th:text=" ${appId} ">3333</p>-->
            <!--<p th:text=" ${appSecret} ">3333</p>-->
            <!--<p th:text=" ${token} ">3333</p>-->
            <!--<p th:text=" ${logoutUri} ">3333</p>-->
            <!--<p th:text=" ${localLogoutUri} ">3333</p>-->

            <!--<form th:action="@{/logout}" method="post">-->
            <!--<button type="submit">logout1</button>-->
            <!--</form>-->

            <!--<a th:href="${logoutUri}+'?token='+ ${token} + '&amp;redirect='+ ${localLogoutUri}">logout2</a>-->
        </div>
    </div>

</div>
<div data-options="region:'west',split:true" title="导航菜单" style="width:15%;">
    <div class="easyui-accordion" data-options="fit:true,border:false">
        <div title="用电能耗" data-options="ionCls:'icon-save'">
            <ul>
                <li><a class="easyui-linkbutton"
                       data-options="iconCls:'icon-table'"
                       onclick="addTab('实时用电数据','view/powerdetail/realtime/main.jsp','icon-table')"
                       plain="true" href="javascript:void(0)">实时用电数据</a></li>
                <li><a class="easyui-linkbutton"
                       data-options="iconCls:'icon-table'"
                       onclick="addTab('日用电数据','view/powerdetail/daily/main.jsp','icon-table')"
                       plain="true" href="javascript:void(0)">日用电数据</a></li>
                <li><a class="easyui-linkbutton"
                       data-options="iconCls:'icon-table'"
                       onclick="addTab('周用电数据','view/powerdetail/weekly/main.jsp','icon-table')"
                       plain="true" href="javascript:void(0)">周用电数据</a></li>
                <li><a class="easyui-linkbutton"
                       data-options="iconCls:'icon-table'"
                       onclick="addTab('月用电数据','view/powerdetail/monthly/main.jsp','icon-table')"
                       plain="true" href="javascript:void(0)">月用电数据</a></li>
            </ul>
        </div>
        <div title="用电分析" data-options="ionCls:'icon-save'">
            <ul>
                <li><a class="easyui-linkbutton"
                       data-options="iconCls:'icon-table'"
                       onclick="addTab('负荷分析','view/poweranalysis/load/main.jsp','icon-table')"
                       plain="true" href="javascript:void(0)">负荷分析</a></li>
                <li><a class="easyui-linkbutton"
                       data-options="iconCls:'icon-table'"
                       onclick="addTab('电量分析','view/poweranalysis/electricity/main.jsp','icon-table')"
                       plain="true" href="javascript:void(0)">电量分析</a></li>
            </ul>
        </div>
        <div title="系统管理" data-options="ionCls:'icon-save'">
            <ul id="nav-sys">
                <li><a class="easyui-linkbutton"
                       data-options="iconCls:'icon-user'"
                       onclick="addTab('用户管理','view/system/userinfo/usermanager.jsp','icon-user')"
                       plain="true" href="javascript:void(0)">用户管理</a></li>
                <li><a class="easyui-linkbutton"
                       data-options="iconCls:'icon-users'"
                       onclick="addTab('角色管理','view/system/userinfo/rolemanager.jsp','icon-users')"
                       plain="true" href="javascript:void(0)">角色管理</a></li>
                <li><a class="easyui-linkbutton"
                       data-options="iconCls:'icon-building'"
                       onclick="addTab('菜单管理','view/system/deviceinfo/menu.jsp','icon-building')"
                       plain="true" href="javascript:void(0)">菜单管理</a></li>
            </ul>
        </div>
    </div>
</div>
<div data-options="region:'center'">
    <div id="centerTabs" class="easyui-tabs" data-options="fit:true,border:false">
        <div title="总体用能" data-options="border:false,tools:'#p-tools',iconCls:'icon-application_view_tile'"
             style="overflow: hidden;">
            <iframe id="frame-portal" src="${ctx}view/frame/main.jsp"
                    style="width: 100%; height: 100%;" frameborder="no" border="0"
                    marginwidth="0" marginheight="0" scrolling="no"
                    allowtransparency="yes"></iframe>
        </div>
    </div>
</div>
<div data-options="region:'south'" style="height: 5%;" class="head-south">
    <a href="http://www.miitbeian.gov.cn/" style="color: black;text-decoration: none">xxxxxxxxxxxxxxx</a>
</div>
</body>
</html>